.v{
  font-family: skia;
}

.ready-to-publish{
  font-size: 18px;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.8);
}

.add-or-change-tags{
  color: rgba(0,0,0,.6);
  font-size: 14px;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  padding-top: 14px;
  display: block;
  margin-bottom: 11px;
  font-weight: 400;
}

.publish-dropdown-button{
  float: right;
  list-style: none;

}

.submitted-topic-title{
  font-weight: 400;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  line-height: 22px;
  text-align: left;
  color: rgba(0,0,0,.44);
  position: relative;
  margin-right: 5px;
  padding-right: 24px;
  background: #fafafa;
  margin-bottom: 8px;

}

.button-x{
  position: absolute;
  top: 0;
  right: 7px;
  margin-left: 5px;
}

.publish-dropdown-popup{
  width: 230px;
  height: 300px;
  padding: 15px;
  background: white;
  border-radius: 3px;
  color: rgba(0,0,0,.8);
  font-size: 12px;
  border: 1px solid #eee;
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
  visibility: visible;
  position: absolute;
  margin-top: 5px;
  z-index: 100;
  left: -111px;
}

.publish-dropdown-button{
    visibility: hidden;
    z-index: 100;
    position: absolute;
}


.publish-dropdown-arrow{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 120px;
  border-bottom: 10px solid #eee;

}
