.story-form-header{
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 65px;
}

.publish-list{
  float: right;
  padding: 0px 0px 20px 0px;
  height: 65px;
  width: 110px;
  position: relative;
}


.story-form{
  width: 700px;
  margin: 0 auto;

}

.story-form-title{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-size: 40px;
  display: block;
  border: none;
  outline: none;
  width: 700px;
  height: 48px;
  float: left;
  resize: none;
  margin-top: 20px;
  line-height: 1.04;
  letter-spacing: -.028em;
  font-weight: 700;

}

.story-form-content{
  display: block;
  font-size: 21px;
  color: rgba(0,0,0,.8);
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  border: none;
  outline: none;
  width: 700px;
  resize: none;
  overflow: hidden;
  height: 100vh;
  float: left;
  margin-top: 10px;
}

.story-form-background{
  background: #fff!important;
  min-height: 100vh;
  width: 100vw;

}

.story-form-author-detail{
  width: 700px;
  margin: 0 auto;
  margin-top: 35px;
  padding-left: 20px;
  height: 41px;
}

.story-form-author-detail-name{
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  color: rgba(0,0,0,.8);
  margin-left: 15px;
  vertical-align: middle;
  display: block;

}

.story-form-image-thumb{
  border-radius: 100%;
  cursor: pointer;
  float: left;
  vertical-align: middle;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.story-form-author-detail-draft{
  font-size: 13px;
  line-height: 1.4;
  margin-top: 2px;
  color: rgba(0,0,0,.44);
  display: block;
  margin-left: 15px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;

}

.v{
  font-family: skia;
}

.ready-to-publish{
  font-size: 18px;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.8);
}

.add-or-change-tags{
  color: rgba(0,0,0,.6);
  font-size: 14px;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  padding-top: 14px;
  display: block;
}

.publish-dropdown-button{
  float: right;
  list-style: none;
}
